@font-face {
  font-family: "DingTalk JinBuTi";
  src: url("/resource/dingtalk/DingTalkJinBuTi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alimama FangYuanTi";
  src: url("/resource/alimama/AlimamaFangYuanTiVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
